# Beating the Zestimate® | Predicting Home Values
Stephanie N. Jones<br>
Data Scientist<br>
Codeup | Hopper Cohort<br>
Monday, December 13, 2021

## Project Summary
<hr>

### Project Overview
This is an overview of the project.

### Deliverables
    - Final Report (this notebook) and Presentation
    - Github Repository with README.md and reproducible project files
    - Python Function Modules (acquire.py and prepare.py, at minimum)
>Data Dictionary

## Business Goals
<hr>

### Primary Goal #1 | Predict Home Values
Construct Machine Learning model by finding key drivers that predicts property tax assessed values <b>`taxvaluedollarcnt`</b> of Single Family Properties with transactions during 2017

### Primary Goal #2 | Beat Zestimate®
Improve existing Zillow model for predicting home values 

### Secondary Goal | Property Locations
City and state of each property

## Executive Summary
<hr>

### Initial Questions and Hypothesis
>Question 1?<br>
Question 2?<br>
Question 3?<br>
Question 4?<br>

>Initial Hypothesis

### Conclusions
>Key findings

>Recommendations

>Takeaways and Next Steps

## Process | Data Science Pipeline
<hr>

00 Plan<br>
01 Acquire<br>
02 Prepare<br>
03 Explore<br>
04 Model<br>
05 Evaluate<br>
06 Test

### 00 Plan

### 01 Acquire

In [10]:
# imports
import pandas as pd
import numpy as np

from env import user, password, host

import os

In [7]:
# string with sql db connection credentials
sql_connect_str = f'mysql+pymysql://{user}:{password}@{host}/zillow'

In [8]:
# url string to access Zillow database from SQL server
url = f'mysql+pymysql://{user}:{password}@{host}/zillow'

In [28]:
# sql query to pull data
query = '''
SELECT bathroomcnt,
        bedroomcnt,
        calculatedfinishedsquarefeet,
        fips,
        regionidzip,
        yearbuilt,
        taxvaluedollarcnt
FROM properties_2017
WHERE propertylandusetypeid = 261
'''

### acquire.py function

In [36]:
def acquire_data(file_name):
    '''
    This function takes in as an argument the .csv file with the raw project data and, if the file exists
    locally, writes its contents to a pandas df.
    
    If the raw project data file does not exist locally, the query and url variables, which are defined 
    globally in the acquire.py file, are used to access the SQL db with the db credentials and SQL query 
    of the desired data.
    
    This function returns a df of the raw queried data. 
    '''

    # if csv file with project data already exists locally, read it into a pandas df
    if os.path.isfile(file_name):
        return pd.read_csv(file_name)
    
    # if project data csv file does not exist locally, connect to SQL db and save query as df
    else:
        return pd.read_sql(query, url)

In [39]:
# variable that will hold raw zillow data
raw_zillow = acquire_data('zillow.csv')
raw_zillow.head()

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,regionidzip,yearbuilt,taxvaluedollarcnt
0,0.0,0.0,NaN,6037.0,96337.0,NaN,27516.0
1,0.0,0.0,NaN,6037.0,97329.0,NaN,10.0
2,0.0,0.0,NaN,6037.0,97330.0,NaN,10.0
3,0.0,0.0,NaN,6037.0,97330.0,NaN,2108.0
4,2.0,4.0,3633.0,6037.0,97329.0,2005.0,296425.0

### 02 Prepare

In [43]:
raw_zillow.shape

(2152863, 7)

In [41]:
raw_zillow.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   bathroomcnt                   2152852 non-null  float64
 1   bedroomcnt                    2152852 non-null  float64
 2   calculatedfinishedsquarefeet  2144379 non-null  float64
 3   fips                          2152863 non-null  float64
 4   regionidzip                   2149476 non-null  float64
 5   yearbuilt                     2143526 non-null  float64
 6   taxvaluedollarcnt             2152370 non-null  float64
dtypes: float64(7)
memory usage: 115.0 MB

### All datatypes are floats :)
### ... <i>but, it looks like we have some null values</i>

In [55]:
raw_zillow.isna().sum().sort_values(ascending = False)

yearbuilt                       9337
calculatedfinishedsquarefeet    8484
regionidzip                     3387
taxvaluedollarcnt                493
bathroomcnt                       11
bedroomcnt                        11
fips                               0
dtype: int64

In [57]:
raw_zillow[raw_zillow.yearbuilt.isna()]

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,regionidzip,yearbuilt,taxvaluedollarcnt
0,0.0,0.0,NaN,6037.0,96337.0,NaN,27516.0
1,0.0,0.0,NaN,6037.0,97329.0,NaN,10.0
2,0.0,0.0,NaN,6037.0,97330.0,NaN,10.0
3,0.0,0.0,NaN,6037.0,97330.0,NaN,2108.0
5,0.0,0.0,NaN,6037.0,96026.0,NaN,124.0
...,...,...,...,...,...,...,...
2152823,0.0,0.0,NaN,6059.0,96979.0,NaN,2568893.0
2152844,0.0,0.0,NaN,6111.0,97097.0,NaN,92679.0
2152854,0.0,0.0,NaN,6037.0,96117.0,NaN,1198476.0
2152857,0.0,0.0,NaN,6059.0,96952.0,NaN,1087111.0
2152860,0.0,0.0,NaN,6059.0,96954.0,NaN,208057.0

In [72]:
(raw_zillow.yearbuilt.isna().sum() / raw_zillow.shape[0])

0.004337015406925568

### 03 Explore

### 04 Model

### 05 Evaluate

### 06 Test

## Conclusions
<hr>

### Key Findings
>These were my key findings.

### Recommendations
>These are my recommendations based on those key findings.

### Takeaways
>Here are my final takeaways from the project and, if I had more time, these would be my next steps.